:root {
    --main-color: #572c5e;
    --black-color: #050505;
    --margin: 0px;
    --padding: 0px;
    --white-color: white;
    --other-color: #754242;

}
body {
    margin: var(--margin);
    padding: var(--padding);
    box-sizing: border-box;
    font-family:'Acme', sans-serif;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#main {
    width: 100%;
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--white-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.menu {
    display: flex;
}

nav ul li a {
margin: 3px;
padding: 0px 22px;
display: flex;
text-transform: uppercase;
font-weight: bold;
color: rgb(49, 17, 33);
letter-spacing: 1px;
font-size: 20px;
}

nav ul li a:hover {
    background-color: var(--main-color);
      color: royalblue;
      border: radius 100px;
}
.get-in-touch {
    color: royalblue;
    font-weight: 500;
    font: size 0.9em; 
    border-bottom: 2px solid var(--black-color);
}

.logo-heading {
    font-weight: 300;
    font-size: 30px;
    color: var(--black-color);
}

.name {
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color:#754242;
}

.content {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.model {
    border: 5px springgreen;
    width: 500px;
    height: 500px;
}
.model img {
width: 100%;
height: 100%;
object-fit: contain;

}

.main-text h1 {
    font-size: 50px;
margin: 0px 0px 0px 0px;
line-height: 90px;
}
.main-text p {
    color: black;

}
.portfolio-button {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
    border-radius: 5px;
}   

/* skills section */
#skills {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto auto 60px auto;
    
}

.skill-image{
    width: 45%;
    margin-left: 131px;
  
  }
  .skill-image img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      
  }
.skill-text {
    width: 40%;
}
.skill-heading span {
    color: blue;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
letter-spacing: 1px;
}
.skill-heading h2 {
    color:darkgrey;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 1px;
}
.skill-box-container {
    margin-top: 15px;
    align-content: center;
}
.skill-box {
    display: flex;
    margin: 25px 0px;
}
.s-box-icon {
    margin-right: 15px;
}
.s-box-icon i {
    font-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #754242;
}
.s-box-text strong {
    color: red;
    margin-top: 0px;
    font-size: 15px;
    font-weight: 600;
}
.s-box-text p {
font-size: 15px;
}

/*projects*/
#my-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto auto 50px auto;
    flex-direction: column;
    margin: 30px 0px;
}
.one {
    background-image: url(...);
    background-size: contain;
}

.two {
    background-image: url(...);
    background-size: contain;
}

.three {
    background-image: url(...);
    background-size: contain;
}
.project #hide {
    visibility: hidden;
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    opacity: 100%;
    z-index: 1000;
}
.project:hover #hide {
    visibility: visible;
    border: 1px solid black;
}
.project-text {
    color: black;
    font-size: 18px;
    padding: 20px;
    justify-content: space-evenly;
}
.project-btn {
    background-color: white;
    color: #572c5e;
    cursor: pointer;
}



